

.totalprice{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    border-top: none;
}


.priceoutput > input{
    width: 40%;
    border: none;
    border-bottom:1px solid black;
    padding: 1%;
    text-align: right;
}

.blankspacewithsometext{
    flex:75%;
}

.priceoutput{
    flex: 18%;
}

.buttonsonpage{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    border-top: none;
}

.preButton{
    flex: 80%;
}


.buttonsonpage button{
    flex: 10%;
}

.actualBills{
    width: 60%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
}

.borderLessInput{
    border: none;
    border-bottom: 1px solid black;
}

.billingClass{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    align-items: center;
}

.headersectionLeft{
    flex:60%;
}

.headersectionRight{
    flex: 40%;
    text-align: right;
    padding: 1%;
    margin-right: 13%;
}

.headersectionRight > i:hover{
    cursor: pointer;
}

.headings{
    font-family: cursive;
    display: inline-block;
    color: rgb(78, 43, 78);
}

.billingHeader{
    display: flex;
    width: 60%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 1%;
    border: 1px solid black;
}