<header>
    <div class="billingHeader">
            <div>
                <h2>{{businessName}}</h2>
            </div>
            <div></div>
    </div>
</header>

<section #bill>
    <div id="billingpage">
        <div class="billingClass">
            <div class="headersectionLeft">
                <h3 class="headings">Customer Name:</h3>
                <input class="borderLessInput" matInput>
            </div>
            <div class="headersectionRight">
            </div>
        </div>
    </div>
    <div class="actualBills">
        <div class="billtable">
            <actualbill (finalPrice)="handleFinalPrice($event)"></actualbill>
        </div>
    </div>
</section>

<section>
    <div class="totalprice">
        <div class="blankspacewithsometext">
            Total Price
        </div>
        <div class="priceoutput">
            <input matInput [(ngModel)]="finalSum" disabled>
        </div>
    </div>
</section>

<section>
    <div class="buttonsonpage">
        <div class="preButton">
            <button>Save and Next</button>
        </div>
        <div class="lastButton">
            <button (click)="printpage();">Print</button>
        </div>
    </div>
</section>
