<header>
    <div class="billingHeader">
            <div>
                <h2>{{businessName}}</h2>
            </div>
            <div></div>
    </div>
</header>

<section>
    <div id="billingpage">
        <div class="billingClass">
            <div class="headersectionLeft">
                <h3 class="headings">Customer Name:</h3>
                <input class="borderLessInput" matInput>
            </div>
            <div class="headersectionRight">
            </div>
        </div>
    </div>
    <div class="actualBills">
        <div class="billtable">
            <actualbill></actualbill>
        </div>
    </div>
</section>

