<section>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> 
            {{element.position}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name of the Item </th>
          <td mat-cell *matCellDef="let element">
            <label for="name"></label>
            <input matInput [(ngModel)]="element.name" id="name">
          </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element">
             <label for="quantity"></label>
             <input matInput [(ngModel)]="element.quantity" id="quantity" (ngModelChange)="rowTotal(element);onpriceChange()">
          </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>  Price </th>
          <td mat-cell *matCellDef="let element"> 
            <label for="price"></label>
            <input matInput [(ngModel)]="element.price" id="price" (ngModelChange)="rowTotal(element);onpriceChange()">
          </td>
        </ng-container>

        <ng-container matColumnDef="rowTotal">
          <th mat-header-cell *matHeaderCellDef> Row Sum </th>
          <td mat-cell *matCellDef="let element"> 
            <label for="rowTotal"></label>
            <input matInput [(ngModel)]="element.rowTotal" id="rowTotal" disabled>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>   
</section>